@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
.scroll {
  overflow-x: auto;
  overflow-y: hidden; /* منع التمرير الرأسي */
  scroll-behavior: smooth; /* تمرير سلس */
  -webkit-overflow-scrolling: touch; /* تحسين التمرير على أجهزة iOS */
}


/* ضبط عرض العناصر داخل scroll container */
.scroll > * {
  min-width: 180px; /* تقدر تغير القيمة حسب التصميم */
  margin-right: 16px;
}
